module.exports = {
  tk: "  除非你已阅读并接受本协议所有条款，否则你无权使用微信公众平台服务。你对本服务的登录、查看、发布信息等行为即视为你已阅读并同意本协议的约束。如果你未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。\n  一、【协议的范围】\n  1.1 本协议是你与腾讯之间关于你使用微信公众平台服务所订立的协议。“腾讯”是指腾讯公司及其相关服务可能存在的运营关联单位。“用户”是指注册、登录、使用微信公众帐号的个人或组织，在本协议中更多地称为“你”。“其他用户”是指包括其他微信公众帐号用户和微信用户等除用户本人外与微信公众平台服务相关的用户。" 
}